* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

:root {
    --black: #000;
    --blue: #132b8a;
    --white: #fff;
    --white-two: #fffefa;
    --white-three: #fafcff;
    --yellow: #face4b;
}

button {
    border: 1px solid var(--yellow);
    border-radius: .4rem;
    background-color: var(--yellow);
    color: var(--black);
    font-weight: bold;
    letter-spacing: .2rem;
}

button,
 .car-brands div img, 
 .details div,
 .nav div img:hover {
    box-shadow: 4px 4px 19px #ddd;
}

button,
input,
textarea {
    margin: 1rem 1rem 1rem 0;
    padding: .5rem;
}

.car-brands {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2rem;
}

.car-brands div img {
    border-radius: .5rem;
    margin: .5rem;
    width: 20rem;
}

.car-brands div p {
    text-align: center;
}

.checklist-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
 
.checklist-wrapper div {
    margin: 2rem;
    width: 23rem;
}

.details,
 .details-3, 
 .details-4, 
 .details-5, 
 .form,
 .form > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
 
.details div {
    background-color: var(--white-three);
    border-radius: .5rem;
    flex-basis: 20rem;
    margin: 1rem;
    padding: 1rem;
}
 
.details div a,
.form h1,
.form input[placeholder],
.form textarea {
    color: var(--blue);
    font-weight: bold;
}

.details-2 p { 
    margin: 2rem;
    text-align: center;
}

.details-3 {
    background-color: var(--white-two);
}

.details-3, 
.details-4, 
.details-5 { 
    padding: 2rem;
}
 
.details-4 {
    background-color: #eee;
}

.details-4 button {
    background-color: var(--black);
    border: 1px solid var(--black);
    color: var(--white); 
}

.details-4 div:last-child {
    align-self: center;
}

.details-4 div, .details-5 div, form {
    margin-inline: 1rem; 
}
 
.details div a {
    border-bottom: 4px solid var(--yellow);
    text-decoration: none;
}

.details h2 {
    color: var(--blue);
    font-family: verdana;
}

.form form {
    width: 30rem;
} 

.form > div {
    align-self: center;
}

.form > div div {
    flex-basis: 13rem;
    padding: 1rem;
}
 
footer {
    background-color: var(--blue);
    display: flex;
    justify-content: center;
}

footer > div {
    color: var(--white);
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
}

footer > div div:first-child { 
    width: 25rem;
}

footer > div div {
    margin: 1rem;
}

footer h1 {
    margin-block: 1rem;
}

footer + p {
    background-color: var(--blue);
    color: var(--white);
    text-align: center;
}

h1:not(footer h1),
 .checklist-wrapper div h2, 
 .details div p,
 h2 {
    margin: 1rem 1rem 1rem 0;
}

input, 
textarea {
    width: 30rem;
}

input[placeholder],
.form textarea {
    color: var(--blue);
    font-size: 1.3rem;
    letter-spacing: .1rem;
    outline: none;
}

.intro {
    background-color: var(--white-two);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 2rem;
}
 
.intro > div {
    margin-inline: 3.5rem;
    width: 22rem;
}

main {
    margin-top: 7rem;
}

nav {
    background-color: var(--black);
    color: var(--white);
    font-size: 2rem;
    height: 100vh;
    left: -22rem;
    padding: 2rem;
    position: fixed;
    top: 0;
    transition: 2s;
    width: 20rem;
    z-index: 1;
}

.nav {
    background-color: var(--white);
    position: fixed;
    margin: 2rem 3rem;
    top: -2rem; 
    width: -moz-available;
}

.nav div {
    display: flex;
    justify-content: space-between;
}

.nav-toggle {
    left: 0;
}

p {
    line-height: 2rem;
}

textarea { 
    height: 10rem;
    resize: none;
}

ul {
    list-style: none;
}